<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="index.html">首页</a></li>
      <li class="active">忘记密码</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-3">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix">
            <a href="<%= new_session_path %>"><i class="fa fa-angle-right"></i> 登陆</a></li>
          <li class="list-group-item clearfix"><a href="<%= new_user_path %>"><i class="fa fa-angle-right"></i> 注册</a>
          </li>
          <li class="list-group-item clearfix active">
            <a href="<%= new_password_reset_path %>"><i class="fa fa-angle-right"></i> 忘记密码</a></li>
          <li class="list-group-item clearfix">
            <a href="<%= root_page_path %>"><i class="fa fa-angle-right"></i> 返回首页</a></li>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="row">
              <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                <h1>忘记密码</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="content-form-page">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <form class="form-horizontal form-without-legend" role="form"
                    accept-charset="UTF-8" action="/password_resets" method="post">
                <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
                <%= tag(:input, :type => "hidden", :name =>
                                      request_forgery_protection_token.to_s, :value =>
                                form_authenticity_token) %>
                <div class="form-group">
                  <label for="email" class="col-lg-4 control-label">邮件</label>

                  <div class="col-lg-8">
                    <input type="text" class="form-control" id="email" name="email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                    <button type="submit" class="btn btn-primary">发送</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
              <div class="form-info">
                <h2><em>忘记</em>密码</h2>

                <p class="margin-top-15">输入注册邮箱</p>
                <p>发送重置邮件</p>
                <p>登陆邮箱点击链接修改密码</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>

<div class="row margin-top-20 margin-bottom-50"></div>
<div class="row margin-top-20 margin-bottom-35"></div>




<!--<div class="login-page">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-6 col-sm-push-3">-->
<!--
<% if flash[:alert] %>-->
    <!--<h2 class="red-color"> <%= flash[:alert] %></h2>-->
    <!--
<% end %>-->
<!--<%= form_tag password_resets_path do %>-->
    <!--<h2>忘记密码</h2>-->

    <!--<div class="form-group">-->
    <!--<%= text_field_tag :email, params[:email], :class => "form-control input-lg", :placeholder => "请输入邮件地址" %>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
    <!--<div class="form-group">-->
    <!--<%= submit_tag :recover, :class => "form-control input-lg btn-success", value: "提交", 'data-disable-with' => "提交中" %>-->
    <!--</div>-->
    <!--</div>-->
    <!--
<% end %>-->
<!--<div class="col-sm-6">-->
<!--<div class="form-group">-->
<!--<%= link_back %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

