<% microposts.each_with_index do |m, i| %>
    <section
    <% if i%2==0 %>class="bg-yellow"
    <% else %>class="bg-white"
    <% end %>>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-push-2">
            <% if m.content.size>100 %>
                <% msg=m.content[0, 99]+"..." %>
            <% else %>
                <% msg=m.content %>
            <% end %>

            <% if m.stock!=nil %>

                <div class="row">
                  <% if  current_user.nil? %>
                      <%= link_to m.stock.name, new_session_path, class: "subtitle" %>
                  <% else %>
                      <%= link_to m.stock.name, show_stock_microposts_path(stock: {id: m.stock.id.to_s}),
                                  method: :post, class: "subtitle" %>
                  <% end %>
                </div>
            <% else %>
                <div class="row">
                  <p class="subtitle">无公司绑定</p>
                </div>
            <% end %>
            <div class="row">
              <% if m.image.to_s!="" %>

                  <div class="col-sm-4">
                    <%= image_tag m.image_url %>
                  </div>
                  <div class="col-sm-8">
              <% end %>

              <%= link_to msg, details_micropost_path(m), class: "micropost-details" %>

              <% if m.image.to_s!="" %>
                  </div>
              <% end %>
            </div>
            <% if m.user==current_user %>
                <div class="row">
                  <div class="col-sm-push-3 col-sm-3"><%= link_to "删除", delete_flag_micropost_path(m), class: "subtitle" %></div>
                  <div class="col-sm-push-3 col-sm-3"><%= link_to "修改", edit_micropost_path(m), class: "subtitle" %></div>
                </div>
            <% end %>
            <p class="subtitle"><%= time_ago_in_words m.created_at %>以前</p>

            <div class="row">
              <div class="col-sm-4"> <%= link_to "回复："+m.comments.size.to_s, details_micropost_path(m), class: "subtitle" %></div>
              <div class="col-sm-4" id="good<%= m.id.to_s %>">
                <%= render partial: "goodform", locals: {m: m} %>
              </div>
              <% if current_user.nil? %>
                  <div class="col-sm-4"> <%= link_to "私信", new_session_path, class: "subtitle" %></div>
              <% else %>
                  <div class="col-sm-4"> <%= link_to "私信", new_pmsg_path(mid: m), class: "subtitle" %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
<% end %>