<% microposts.each_with_index do |m, i| %>
    <div class="row">
      <% content=m.content %>
      <% if !content.index("http://www.hkexnews.hk").nil? %>
          <% content=content[0, content.index("http://www.hkexnews.hk")] %>
          <% url=m.content[m.content.index("http://www.hkexnews.hk"), m.content.size-1] %>
      <% end %>
      <% if content.size>100 %>
          <% msg=content[0, 99]+"..." %>
      <% else %>
          <% msg=content %>
      <% end %>

      <div class="col-md-12 col-sm-12">
        <ul class="blog-info">
          <% if m.stock!=nil %>
              <li>
                <i class="fa fa-tags"></i><%= link_to m.stock.name, show_stock_microposts_path(stock: {id: m.stock.id.to_s}) %>
              </li>
          <% else %>
              <li><i class="fa fa-tags"></i>无公司绑定</li>
          <% end %>

        </ul>
        <h2>
          <a href="<%= details_micropost_path(m) %>" style="color:black"><%= content %></a>
          <a href="<%= url %>" style="color:black" %>点击链接</a>
        </h2>
        <% if m.image.to_s!="" %>
            <%= image_tag(m.image_url, size: "50x50") %>
        <% end %>
        <ul class="blog-info">
          <% if url %>
              <li>
                <i class="fa fa-calendar"></i><%= time_ago_in_words m.created_at+ (-Time.zone_offset(Time.now.zone)) %>
                以前
              </li>
          <% else %>
              <li><i class="fa fa-calendar"></i><%= time_ago_in_words m.created_at %>以前</li>
          <% end %>
          <li><i class="fa fa-comments"></i><%= m.comments.size.to_s %></li>
          <% if signed_in? %>
              <%= render partial: "goodform", locals: {m: m} %>
              <li><i class="fa fa-comment"></i>
                <% if current_user.nil? %>
                    <%= link_to "私信", new_session_path %>
                <% else %>
                    <%= link_to "私信", new_pmsg_path(mid: m) %>
                <% end %>
              </li>
              <% if m.user==current_user %>
                  <li><i class="fa fa-pencil"></i><%= link_to "修改", edit_micropost_path(m) %></li>
                  <li><i class="fa fa-trash"></i><%= link_to "删除", delete_flag_micropost_path(m) %></li>
              <% end %>
          <% end %>

        </ul>
        <a href="<%= details_micropost_path(m) %>" class="more">查看详情<i class="icon-angle-right"></i></a>
      </div>
    </div>
    <hr class="blog-post-sep">
<% end %>