<div class="main">
  <div class="container">
    <ol class="breadcrumb margin-top-10">
      <% if signed_in? %>
          <li
          <% if @item=="show" %> class="active"
          <% end %>><a href="<%= user_path(current_user) %>">所有信息</a></li>
          <li
          <% if @item=="myshow" %> class="active"
          <% end %>><a href="<%= myshow_users_path %>">我关注的信息</a></li>
          <li
          <% if @item=="stockinfo" %> class="active"
          <% end %>><a href="<%= stockinfo_users_path %>">公告信息</a></li>
          <li
          <% if @item=="stocknoinfo" %> class="active"
          <% end %>><a href="<%= stocknoinfo_users_path %>">非公告信息</a></li>
      <% else %>
          <li
          <% if @item=="show" %> class="active"
          <% end %>><a href="<%= user_path(0) %>">所有信息</a></li>
      <% end %>
    </ol>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-top-10 margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts">
              <%= render partial: "users/showform", locals: {microposts: @microposts} %>

              <%= paginate @microposts %>

            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
              <%= render partial: 'layouts/slider_right' %>
            </div>
            <!-- END RIGHT SIDEBAR -->
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>





