<div class="main">
  <div class="container">
    <ol class="breadcrumb margin-top-10">
      <li class="active"><a href="<%= pmsgs_path %>">私信</a></li>
      <!--<li class="active">Blog Page</li>-->
    </ol>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-top-10 margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-item">

              <h2>私信列表</h2>

              <div class="comments">
                <%= render partial: "main_pmsgs", locals: {pmsgs: @pmsgs} %>
              </div>

            </div>

            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
              <!-- CATEGORIES START -->
              <%= render partial: 'layouts/slider_right' %>
            </div>
            <!-- END RIGHT SIDEBAR -->
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>





<div class="container2">
  <% if @msgs %>
      <div class="cm-title-yellow">
        <div class="container">
          <div class="row ">
            <div class="col-sm-8 col-sm-push-2">
              <h1>我的私信</h1>
            </div>
          </div>
        </div>

      </div>
      <% @msgs.each_with_index do |c, i| %>

          <div
          <% if i%2==0 %>class="cm-white"
          <% else %>class="cm-yellow"
          <% end %>>
            <div class="container">
              <div class="row ">
                <div class="col-sm-8 col-sm-push-2 msg">
                  <% if c.touser_id==c.fromuser_id %>
                      <p class="subtitle">我对自己说</p>
                  <% elsif c.fromuser_id==current_user.id %>
                      <p class="subtitle">我对<%=link_to "匿名用户"+c.anonnum.to_s,new_pmsg_path(uid: c.touser_id)%>说</p>
                  <% elsif c.touser_id==current_user.id %>
                      <p class="subtitle"><%=link_to "匿名用户"+c.anontonum.to_s,new_pmsg_path(uid: c.fromuser_id)%>对我说</p>
                  <% end %>
                  <h1><%= c.msg %></h1>

                  <div class="row">
                    <div class="col-sm-push-3 col-sm-2"><%= link_to "删除", delete_flag_comment_path(c), class: "subtitle" %></div>
                    <div class="col-sm-push-3 col-sm-2"><%= link_to "修改", edit_comment_path(c), class: "subtitle" %></div>
                    <% if c.fromuser_id==current_user.id %>
                        <div class="col-sm-push-3 col-sm-2"><%= link_to "私信", new_pmsg_path(uid: c.touser_id), class: "subtitle" %></div>
                    <% elsif c.touser_id==current_user.id %>
                        <div class="col-sm-push-3 col-sm-2"><%= link_to "私信", new_pmsg_path(uid: c.fromuser_id), class: "subtitle" %></div>
                    <% end %>


                  </div>

                  <p class="subtitle"><%= time_ago_in_words c.created_at %>以前</p>
                </div>
              </div>
            </div>
          </div>

      <% end %>
  <% end %>
</div>