<div class="main">
  <div class="container">
    <ol class="breadcrumb margin-top-10">
      <li class="active"><a href="<%= user_path(current_user) %>">新建建议</a></li>
    </ol>
    <div class="row margin-top-10 margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-12 col-sm-12 blog-posts">
              <div class="portlet box red">
                <div class="portlet-title">
                  <div class="caption">
                    新建建议
                  </div>
                </div>
                <div class="portlet-body form">
                  <%= simple_form_for @advice do |m| %>
                      <div class="form-body">
                        <div class="form-group">
                          <label>标题</label>
                          <%= m.input :title, label: false , input_html: {class: 'form-control'}%>
                        </div>
                        <div class="form-group">
                          <label>内容</label>
                          <%= m.input :content, label: false, input_html: {class: 'form-control', rows: '8'} %>
                      </div>
                      </div>
                      <div class="form-actions">
                        <%= m.submit "提交", class: 'btn btn-primary', 'data-disable-with' => "提交中" %>
                        <%= link_back %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
