<div class="container1">
  <div class="bg-yellow">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-push-2 msg">
          <p class="micropost-details"><%= @micropost.content %></p>

          <p class="subtitle"><%= time_ago_in_words @micropost.created_at %>以前</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cm-yellow">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 msg">
        <%= simple_form_for @micropost.comments.build, class: "contact-form" do |m| %>
            <input id="micrpost_id" name="comment[mid]" value=<%= @micropost.id %> hidden="hidden"/>

            <div class="form-group">
              <%= m.input :msg, label: false, placeholder: "填写评论", input_html: {class: 'form-control input-lg', rows: '4'} %>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <% if current_user.nil? %>
                      <%= link_to "提交", new_session_path, class: 'form-control input-lg btn-success text-center' %>
                  <% else %>
                      <%= m.submit "提交", class: 'form-control input-lg btn-success' %>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= link_back %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @comments %>
    <div class="cm-title-yellow">
      <div class="container">
        <div class="row ">
          <div class="col-sm-8 col-sm-push-2">
            <h1>评论</h1>
          </div>
        </div>
      </div>

    </div>
    <% @comments.each_with_index do |c, i| %>

        <div
        <% if i%2==0 %>class="cm-white"
        <% else %>class="cm-yellow"
        <% end %>>
          <div class="container">
            <div class="row ">
              <div class="col-sm-8 col-sm-push-2 msg">
                <p class="subtitle"><%= link_to "匿名用户"+c.micropost.anons.find_by_anonuser_id(c.user.id).anonnum.to_s, new_pmsg_path(uid: c.user.id) %></p>

                <h1><%= c.msg %></h1>
                <% if c.user==current_user %>
                    <div class="row">
                      <div class="col-sm-push-3 col-sm-2"><%= link_to "删除", delete_flag_comment_path(c), class: "subtitle" %></div>
                      <div class="col-sm-push-3 col-sm-2"><%= link_to "修改", edit_comment_path(c), class: "subtitle" %></div>
                      <div class="col-sm-push-3 col-sm-2"><%= link_to "私信", new_pmsg_path(uid: c.user.id), class: "subtitle" %></div>
                    </div>
                <% elsif current_user.nil? %>
                    <%= link_to "私信", new_session_path, class: "subtitle" %>
                <% else %>
                    <div class="row">
                      <%= link_to "私信", new_pmsg_path(uid: c.user.id), class: "subtitle" %>
                    </div>
                <% end %>
                <p class="subtitle"><%= time_ago_in_words c.created_at %>以前</p>
              </div>
            </div>
          </div>
        </div>

    <% end %>
<% end %>