<li><%= @micropost.content %> </li>
<li><%= time_ago_in_words @micropost.created_at %>ago</li>

<%= form_for @micropost.comments.build do |m| %>
    <input id="micrpost_id" name="comment[mid]" value=<%= @micropost.id %> hidden="hidden"/>
    <%= m.text_area :msg, placeholder: "Compose new comment..." %>
    <%= m.submit "Post" %>
<% end %>

<% if @comments[0].id %>
    <% @comments.each do |c| %>
        <span><%= c.msg %> </span>
        <span><%=time_ago_in_words c.created_at%>ago </span>
    <% end %>
<% end %>