<div class="main">
  <div class="container">
    <ol class="breadcrumb margin-top-10">
      <li><a href="<%= user_path %>">信息</a></li>
      <li class="active">信息详情</li>
      <!--<li class="active">Blog Page</li>-->
    </ol>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-top-10 margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1 class="margin-top-10">信息详情</h1>

        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-item">
              <% content=@micropost.content %>
              <% if !content.index("http://www.hkexnews.hk").nil? %>
                  <% content=content[0, content.index("http://www.hkexnews.hk")]+
                          "<a href="+content[content.index("http://www.hkexnews.hk"), content.length]+">点击链接</a>" %>
              <% end %>
              <h2><%= raw(content) %></h2>
              <%= image_tag @micropost.image_url, class: "icon-responsive" %>
              <ul class="blog-info">
                <% if @micropost.stock!=nil %>
                    <li>
                      <i class="fa fa-tags"></i><%= link_to @micropost.stock.name, show_stock_microposts_path(stock: {id: @micropost.stock.id.to_s}),
                                                            method: :post %></li>
                <% else %>
                    <li><i class="fa fa-tags"></i>无公司绑定</li>
                <% end %>
                <li><i class="fa fa-calendar"></i><%= time_ago_in_words @micropost.created_at %>以前</li>
                <%= render partial: "goodform", locals: {m: @micropost} %>
                <li><i class="fa fa-comment"></i>
                  <% if current_user.nil? %>
                      <%= link_to "私信", new_session_path %>
                  <% else %>
                      <%= link_to "私信", new_pmsg_path(mid: @micropost) %>
                  <% end %>
                </li>
                <% if @micropost.user==current_user %>
                    <li><i class="fa fa-pencil"></i><%= link_to "删除", delete_flag_micropost_path(@micropost) %></li>
                    <li><i class="fa fa-trash"></i><%= link_to "修改", edit_micropost_path(@micropost) %></li>
                <% end %>
              </ul>

              <h2>评论</h2>

              <div class="comments">
                <%= render partial: "comments", locals: {comments: @comments} %>
              </div>

              <div class="post-comment padding-top-40">
                <% if signed_in? %>
                    <h3>撰写评论</h3>
                    <%= simple_form_for @micropost.comments.build do |m| %>
                        <input id="micrpost_id" name="comment[mid]" value=<%= @micropost.id %> hidden="hidden"/>

                        <div class="form-group">
                          <label>评论内容<span class="color-red">*</span></label>
                          <%= m.input :msg, label: false, input_html: {class: 'form-control', rows: '8'} %>
                        </div>
                        <p>
                          <%= m.submit "提交", class: 'btn btn-primary', 'data-disable-with' => "提交中" %>
                        </p>
                    <% end %>
                <% end %>
              </div>
            </div>

            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
              <%= render partial: 'layouts/slider_right' %>
            </div>
            <!-- END RIGHT SIDEBAR -->
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
